In [27]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
# Interim output saved.
df1 = pd.read_csv('./data/201601-CBike-v2.csv')
df1.head()

,level_0,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,...,gender,StDate,StTime,EndDt,EndTime,Mnth,Yr,DayInd,WkDay,WkDayInd
0,0,0.0,923.0,1/1/2016 00:00:41,1/1/2016 00:16:04,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,1.0,2016-01-01,00:00:41,2016-01-01,00:16:04,1,2016,0,4,1
1,1,1.0,379.0,1/1/2016 00:00:45,1/1/2016 00:07:04,476.0,E 31 St & 3 Ave,40.743943,-73.979661,498.0,...,1.0,2016-01-01,00:00:45,2016-01-01,00:07:04,1,2016,0,4,1
2,2,2.0,589.0,1/1/2016 00:00:48,1/1/2016 00:10:37,489.0,10 Ave & W 28 St,40.750664,-74.001768,284.0,...,2.0,2016-01-01,00:00:48,2016-01-01,00:10:37,1,2016,0,4,1
3,3,3.0,889.0,1/1/2016 00:01:06,1/1/2016 00:15:56,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,2.0,2016-01-01,00:01:06,2016-01-01,00:15:56,1,2016,0,4,1
4,4,4.0,1480.0,1/1/2016 00:01:12,1/1/2016 00:25:52,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,...,1.0,2016-01-01,00:01:12,2016-01-01,00:25:52,1,2016,0,4,1

In [2]:
df = pd.read_csv('./data/201601-citibike-tripdata.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958.0,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969.0,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982.0,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961.0,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952.0,1

In [113]:
df.shape

(509478, 15)

In [3]:
# df1 = df[0:1000].copy()
df1 = df.copy()

In [194]:
df1.head(3)

,level_0,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,...,StDate,StTime,EndDt,EndTime,Mnth,Yr,DayInd,WkDay,WkDayInd,dayInd
0,0.0,0.0,923.0,1/1/2016 00:00:41,1/1/2016 00:16:04,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,2016-01-01,00:00:41,2016-01-01,00:16:04,1.0,2016.0,,4.0,1.0,
1,1.0,1.0,379.0,1/1/2016 00:00:45,1/1/2016 00:07:04,476.0,E 31 St & 3 Ave,40.743943,-73.979661,498.0,...,2016-01-01,00:00:45,2016-01-01,00:07:04,1.0,2016.0,,4.0,1.0,
2,2.0,2.0,589.0,1/1/2016 00:00:48,1/1/2016 00:10:37,489.0,10 Ave & W 28 St,40.750664,-74.001768,284.0,...,2016-01-01,00:00:48,2016-01-01,00:10:37,1.0,2016.0,,4.0,1.0,

In [4]:
df1['StDate'] = ''
df1['StTime'] = ''
df1['EndDt'] = ''
df1['EndTime'] = ''
df1['Mnth'] = ''
df1['Yr'] = ''
df1['DayInd'] = ''
df1['WkDay'] = ''
df1['WkDayInd'] = ''
df1['dayInd'] = ''

In [101]:
# df1.rename(columns={'mnth': 'Mnth'}, inplace=True)

In [195]:
list(df1.columns)

['level_0',
 'index',
 'tripduration',
 'starttime',
 'stoptime',
 'start station id',
 'start station name',
 'start station latitude',
 'start station longitude',
 'end station id',
 'end station name',
 'end station latitude',
 'end station longitude',
 'bikeid',
 'usertype',
 'birth year',
 'gender',
 'StDate',
 'StTime',
 'EndDt',
 'EndTime',
 'Mnth',
 'Yr',
 'DayInd',
 'WkDay',
 'WkDayInd',
 'dayInd']

In [125]:
df1[:1][['tripduration']]

   tripduration
0           923

In [187]:
# print df1.starttime[0].split(' ')[0]
df1[:1][['StDate']]

      StDate
0 2016-01-01

In [129]:
df1.starttime[0].split(' ')

['1/1/2016', '00:00:41']

In [82]:
    
# st_spl = df1.starttime[0].split(' ')

# # df1[0:1][['stdate']] = st_spl[0]
# df1.set_value(0, 'stdate', st_spl[0])
# stt_list = df1.sttime[0].split(':')

stt_list = '16:00:41'.split(':')
print stt_list

print stt_list

stt_list = [int(i) for i in stt_list]
if (stt_list[0] in range(5,17)):
        day_ind = 1
else:
        day_ind = 0
    

day_ind

['16', '00', '41']
[16, 0, 41]

1

In [96]:
# df1['WkDayInd'] = df1['starttime'].dt.dayofweek

# days = {0:'Mon',1:'Tues',2:'Weds',3:'Thurs',4:'Fri',5:'Sat',6:'Sun'}
# df['day_of_week'] = df['day_of_week'].apply(lambda x: days[x])

months = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov',12:'Dec'}
df1['Mnth'] = df1['Mnth'].apply(lambda x: months[x])

In [7]:
a = [4,0,43]
if a[1] in range(3,33):
    print 'Yes'
else:
    print 'No'

No

In [27]:
# Data Wrangling -

df1.dropna(inplace=True)
df1.reset_index(drop=True, inplace=True)

# df1.shape[0]

for i in range(df1.shape[0]):
    st_spl = df1.starttime[i].split(' ')
    df1.set_value(i, 'StDate', st_spl[0])
    df1.set_value(i, 'StTime', st_spl[1])
    
    stop_spl = df1.stoptime[i].split(' ')
    df1.set_value(i, 'EndDt', stop_spl[0])
    df1.set_value(i, 'EndTime', stop_spl[1])

    # Day Indicator from Start time
    stt_list = df1.StTime[i].split(':')
    stt_list = [int(j) for j in stt_list]
    if (stt_list[0] in range(5,17)):
        # Day - Yes
        day_ind = 1
    else:
        # Night - Yes
        day_ind = 0
    df1.set_value(i, 'DayInd', int(day_ind))

In [196]:
for i in range(1):
    st_spl = df1.starttime[i].split(' ')
    stop_spl = df1.stoptime[i].split(' ')

    # Day Indicator from Start time
    stt_list = df1.StTime[i].split(':')
    stt_list = [int(i) for i in stt_list]
    print stt_list[0]
    
    if (stt_list[0] in range(5,17)):
        # Day - Yes
        day_ind = 1.0
    else:
        # Night - Yes
        day_ind = 0.0

    df1.set_value(i, 'DayInd', int(day_ind))

0
B

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [28]:
df1.dropna(inplace=True)
df1.reset_index(drop=False, inplace=True)

In [29]:

df1['StDate'] = pd.to_datetime(df1['StDate'])
df1['EndDt'] = pd.to_datetime(df1['EndDt'])

df1['WkDay'] = df1['StDate'].dt.dayofweek
df1['Mnth'] = df1['StDate'].dt.month
df1['Yr'] = df1['StDate'].dt.year

# Weekday Indicator definition
wk_ind = {0:1,1:1,2:1,3:1,4:1, 5:0,6:0}
df1['WkDayInd'] = df1['WkDay'].apply(lambda x: wk_ind[x])

In [153]:
# df1.reset_index(drop=False, inplace=True)

In [35]:
df1.head()

,level_0,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,...,gender,StDate,StTime,EndDt,EndTime,Mnth,Yr,DayInd,WkDay,WkDayInd
0,0,0.0,923.0,1/1/2016 00:00:41,1/1/2016 00:16:04,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,1.0,2016-01-01,00:00:41,2016-01-01,00:16:04,1,2016,0,4,1
1,1,1.0,379.0,1/1/2016 00:00:45,1/1/2016 00:07:04,476.0,E 31 St & 3 Ave,40.743943,-73.979661,498.0,...,1.0,2016-01-01,00:00:45,2016-01-01,00:07:04,1,2016,0,4,1
2,2,2.0,589.0,1/1/2016 00:00:48,1/1/2016 00:10:37,489.0,10 Ave & W 28 St,40.750664,-74.001768,284.0,...,2.0,2016-01-01,00:00:48,2016-01-01,00:10:37,1,2016,0,4,1
3,3,3.0,889.0,1/1/2016 00:01:06,1/1/2016 00:15:56,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,2.0,2016-01-01,00:01:06,2016-01-01,00:15:56,1,2016,0,4,1
4,4,4.0,1480.0,1/1/2016 00:01:12,1/1/2016 00:25:52,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,2006.0,...,1.0,2016-01-01,00:01:12,2016-01-01,00:25:52,1,2016,0,4,1

In [33]:
# Drop column
df1.drop('dayInd', axis=1, inplace=True)

In [36]:
df1.to_csv('201601-CBike-v2.csv', index=False)

In [28]:
df1[:3][:]

,level_0,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,...,gender,StDate,StTime,EndDt,EndTime,Mnth,Yr,DayInd,WkDay,WkDayInd
0,0,0.0,923.0,1/1/2016 00:00:41,1/1/2016 00:16:04,268.0,Howard St & Centre St,40.719105,-73.999733,3002.0,...,1.0,2016-01-01,00:00:41,2016-01-01,00:16:04,1,2016,0,4,1
1,1,1.0,379.0,1/1/2016 00:00:45,1/1/2016 00:07:04,476.0,E 31 St & 3 Ave,40.743943,-73.979661,498.0,...,1.0,2016-01-01,00:00:45,2016-01-01,00:07:04,1,2016,0,4,1
2,2,2.0,589.0,1/1/2016 00:00:48,1/1/2016 00:10:37,489.0,10 Ave & W 28 St,40.750664,-74.001768,284.0,...,2.0,2016-01-01,00:00:48,2016-01-01,00:10:37,1,2016,0,4,1

ERROR! Session/line number was not unique in database. History logging moved to new session 201

In [29]:
df1[df1['DayInd']>0].head(3)

,level_0,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,...,gender,StDate,StTime,EndDt,EndTime,Mnth,Yr,DayInd,WkDay,WkDayInd
1073,1073,1073.0,238.0,1/1/2016 05:00:26,1/1/2016 05:04:25,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,428.0,...,1.0,2016-01-01,05:00:26,2016-01-01,05:04:25,1,2016,1,4,1
1074,1074,1074.0,401.0,1/1/2016 05:01:11,1/1/2016 05:07:53,317.0,E 6 St & Avenue B,40.724537,-73.981854,531.0,...,1.0,2016-01-01,05:01:11,2016-01-01,05:07:53,1,2016,1,4,1
1075,1075,1075.0,1071.0,1/1/2016 05:01:34,1/1/2016 05:19:25,116.0,W 17 St & 8 Ave,40.741776,-74.001497,403.0,...,2.0,2016-01-01,05:01:34,2016-01-01,05:19:25,1,2016,1,4,1

In [23]:
pl.rcParams['figure.figsize'] = (10, 10)

In [32]:
df2 = df1[0:1000].copy()

for i in range(df1.shape[0]):
    pl.plot(df1[i][['WkDay']], df1[i][['tripduration']])

ax = df2[['WkDay','tripduration']].plot(kind='bar', title ="WkDay vs Tripduration", 
                                        figsize=(15, 10), legend=True, fontsize=12)
ax.set_xlabel("Week Day", fontsize=12)
ax.set_ylabel("Trip Duration", fontsize=12)
plt.show()

fig = pl.figure(figsize = (13,13))
ax1 = fig.add_subplot(122)

In [41]:

for i in range(df2.shape[0]):
    ax1.hist(df2.WkDay[i], bins=np.arange(0,7,1), alpha=0.5)

In [45]:
plt.show()

In [35]:
np.arange(-10,30,0.5)

array([-10. ,  -9.5,  -9. ,  -8.5,  -8. ,  -7.5,  -7. ,  -6.5,  -6. ,
        -5.5,  -5. ,  -4.5,  -4. ,  -3.5,  -3. ,  -2.5,  -2. ,  -1.5,
        -1. ,  -0.5,   0. ,   0.5,   1. ,   1.5,   2. ,   2.5,   3. ,
         3.5,   4. ,   4.5,   5. ,   5.5,   6. ,   6.5,   7. ,   7.5,
         8. ,   8.5,   9. ,   9.5,  10. ,  10.5,  11. ,  11.5,  12. ,
        12.5,  13. ,  13.5,  14. ,  14.5,  15. ,  15.5,  16. ,  16.5,
        17. ,  17.5,  18. ,  18.5,  19. ,  19.5,  20. ,  20.5,  21. ,
        21.5,  22. ,  22.5,  23. ,  23.5,  24. ,  24.5,  25. ,  25.5,
        26. ,  26.5,  27. ,  27.5,  28. ,  28.5,  29. ,  29.5])